<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a [routerLink]="['welcome']" *ngIf = "userStatus">Home <span class="sr-only">(current)</span></a></li>
              <li><a [routerLink]="['products']" *ngIf = "userStatus">Products</a></li>
              <li><a [routerLink]="['template-forms']" *ngIf = "userStatus">template forms</a></li>
              <li><a [routerLink]="['reactive-forms']" *ngIf = "userStatus">reactive forms</a></li>
              <li><a [routerLink]="['login']" *ngIf = "!userStatus">Login</a></li>
              
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="['welcome']" *ngIf = "userStatus" (click) ="logout()">Logout</a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>