<app-panel-box>
        <span panel-title>Reactive forms</span>
        <div panel-body>
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label class="control-label">Firstname</label>
                    <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname" />
                    <div *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched">
                        <div class="alert alert-danger" *ngIf="userForm.get('firstname').errors.required">Please enter firstname</div>
                        <div class="alert alert-danger" *ngIf="userForm.get('firstname').errors.minlength">Please enter a valid firstname</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Lastname</label>
                    <input type="text" class="form-control"  placeholder="Lastname"  formControlName="lastname"/>
                    <div *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched">
                        <div class="alert alert-danger" *ngIf="userForm.get('lastname').errors.required">Please enter lastname</div>
                        <div class="alert alert-danger" *ngIf="userForm.get('lastname').errors.minlength">Please enter a valid lastname</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control"  placeholder="Email" formControlName="email" />
                    <div *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
                        <div class="alert alert-danger" *ngIf="userForm.get('email').errors.required">Please enter email</div>
                        <div class="alert alert-danger" *ngIf="userForm.get('email').errors.pattern">Please enter a valid email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <input type="radio" value="male" formControlName="gender" (click) = "updateValidity('male')"/>Male
                    </label>
                    <label class="control-label">
                        <input type="radio"  value="female" formControlName="gender" (click) = "updateValidity('female')"/>Female
                    </label>
                    <div *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
                        <div class="alert alert-danger" *ngIf="userForm.get('email').errors.required">Please select gender</div>
                    </div>                  
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Save</button>
            </form>
        </div>
    </app-panel-box>
    