<app-panel-box>
    <span panel-title>Products</span>
    <div panel-body>

            <input type = "text" placeholder="Filter products" class="form-control" [(ngModel)]="filterProducts"/>
            <div class="alert alert-success" *ngIf= "filterProducts">
                Filtered by: {{filterProducts}}
            </div>
            <table class="table table-bordered" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>price</th>
                        <th>
                            <button class = "btn btn-primary" (click) = "toggleImage()">
                                {{showHideImg ? "Hide Image" : "Show Image"}}
                            </button>
                        </th>
                        <th>product_type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | products: filterProducts">
                        <td>{{product.id}}</td>
                        <td>
                            <a  [routerLink]="['/products', product.id]">
                                {{product.name}}
                            </a>
                        </td>
                        <td>
                            {{product.price}}
                            <app-price [price] = "product.price" (priceEvent)="receiveDataFromParent($event)"></app-price>
                        </td>
                        <td>
                            <img [src]="product.image" style="width: 50px;" *ngIf = "showHideImg"/>
                        </td>
                        <td>{{product.product_type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</app-panel-box>



